.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.upload-file{
  text-align: left;
  padding-left: 20px;
}

.image-name{
  font-size: 20px;
  font-weight: bold;
}

.upload-filedata{
  margin-top: 10px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid slategrey;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 한 줄당 3개의 열로 설정 */
  gap: 16px; /* 그리드 간격 설정 */
}

.grid-item {
  text-align: center; /* 이미지 중앙 정렬을 위한 스타일 */
}

.image{
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.main-logo{
  width: 30px;
  height: 30px;
  padding-top: 35px;
  padding-right: 10px;
}

.Navi{
  line-height: 100px;
  background-color: black;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  display: flex;
  margin-bottom: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
